$primary-color-orange: #ef8354;
$primary-color-black: #2d3142;
$primary-color-blue: #6380a6;
$primary-color-white: #ffffff;
$status-active: #fdece5;
$status-inActive: #eff2f6;
$light-color-1: #dee1e7;
$light-color-2: #d5d6d9;
$light-color-3: #b6b7bd;
$light-color-4: #a7aeba;
$dark-color-1: #6c6f7b;
$dark-color-2: #959eac;
$dark-color-3: #9698a0;
$norification-red: #de2013;
$norification-gren: #2fbd5a;
$norification-blue: #3366ea;
$primary-button-select: #e87c4d;
