@import "_variables.scss";
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  border: 1px solid $light-color-1;
  border-radius: 10px;
  & > div:not(:nth-child(3n + 3)) {
    border-right: 1px solid $light-color-1;
  }

  & > div:nth-child(-n + 3) {
    border-bottom: 1px solid $light-color-1;
  }
}
